<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <title>Restaurant Lord Food</title>
  </head>
  <body>
    <header>
      <a href="#" class="logo"><img src="./images/heros/logo-queen.png" /></a>
      <a href="#main" class="skip-link">Skip to Content</a>

      <nav id="drawer" class="navbar">
        <a href="#home" class="active">home</a>
        <a href="#">favorite</a>
        <a href="https://www.linkedin.com/in/syllaayukusumahati/" target="_blank">about us</a>
        <a href="#menu">menu</a>
      </nav>

      <div class="header-menu">
        <i class="fas fa-bars" id="menu"></i>
      </div>
    </header>

    <div class="hero">
      <div class="swiper hero-slider">
        <div class="swiper-wrapper wrapper">
          <div class="swiper-slide slide slide1">
            <div class="content">
              <img src="./images/heros/logo-queen.png" />
              <h3>Culinary Corner</h3>
              <h1>LORDFOOD</h1>
              <p>A Culinary Experience Like No Other</p>
            </div>
          </div>

          <div class="swiper-slide slide slide2">
            <div class="content">
              <img src="./images/heros/logo-queen.png" />
              <h3>We Are Open</h3>
              <h1>Grand Opening</h1>
              <p>Join us for a night of food, fun, and festivities</p>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>

    <main id="main" tabindex="0"></main>

    <footer tabindex="0">
      <p>Copyright 2023 &copy; - LORDFOOD</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  </body>
</html>
